BODY
{
	color:black;
	font-family: Tahoma, Verdana, Arial;
	text-align: center;

}

h2
{
	font-size: 24px;
}

h3
{
	font-weight: bold;
	font-size:43pt;
}

.title
{
	width:100%;
	text-align:center;
	margin-top:-50px;
	padding:0px;
}
.operacje a
{
	color:#bf0000;
	font-size: 13px;
	text-decoration:none;
}
.operacje a:hover
{
	color:#1d0000;
}

#table
{
	border:0px;
	width:80%;
	margin: 0px auto;
	font-size:20px;
}

#leftpane
{
	border-right: 5px solid black;
	width:50%;
	padding-right:20px;
}

#rightpane
{
	padding-left:20px;
}
